.contact-underline {
    width: 150px;
    height: 12px;
    background-color: #a8226b;
    margin-bottom: 30px;
    margin-top: -30px;
    margin-left: -7px;
}

.contact-text {
    width: 50%;
    color: #5f5f5f;
}

.card-title {
    text-align: right;
    padding-top: 15px;
    color: #000;
}

.card-bio {
    text-align: right;
    margin-top: -8px;
    padding-right: 25px;
}
